/* 寒蝉全圆体 v3.200 — SIL Open Font License 1.1 */
@font-face {
  font-family: "寒蝉全圆体";
  src: local("寒蝉全圆体"), url("./ChillRoundFRegular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
